@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body{
  padding: 5%;
  text-align: center;
  background-color: hsl(225, 100%, 94%);

}

.bcimg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}



.box{
  width: 450px;
  margin: 100px auto 100px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #ffff;
  font-family: 'Red Hat Display', sans-serif;
}


.box h1{
  font-weight: 900;
  font-size: 1.9rem;
  margin-top: 34px;
}

p{
  font-weight: 500;
  font-size: 15px;
  width: 280px;
  margin: 0 auto;
  color: hsl(224, 23%, 55%);
}


.plancard{
  width: 350px;
  margin: 27px auto 27px;
  background-color: hsl(225, 100%, 98%);
  padding: 22px 18px 15px;
  border-radius: 15px;
}

.plancard h2{
  width: 100px;
  font-weight: 700;
  font-size: 1.02rem;
  text-align:left;
  margin-left: 65px;
}

.plancard img{
  float: left;
}

.plancard a{
  text-align: right;
  margin-top: 12px;
  width: 80px;
  float: right
}

.plancard a:hover{
  text-decoration: none;
  color: hsl(245, 75%, 52%);
}

.btn{
  font-weight: 700;
  width: 350px;
  font-size: 1rem;
}

.btn-primary{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 1px, rgba(0, 0, 0, 0.08) 0px 4px 2px, rgba(0, 0, 0, 0.08) 0px 8px 4px, rgba(0, 0, 0, 0.08) 0px 20px 8px;
}

.btn-primary:hover {
  background-color: hsl(245, 75%, 52%);

}


.btn-2{
  margin: 20px 0 30px;
  background: transparent;
  color: hsl(224, 23%, 55%);

}

.btn-2:hover{
  color: black;
}
